{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "FullParty Integration API",
    "version": "1.0.0",
    "description": "# Build for your community\nRead characters, discover runs, submit applications and keep members informed through an approved FullParty integration.\n\n## Authentication\nSend `Authorization: Bearer <integration-api-token>` on every API request. An administrator grants scopes to each integration. Tokens are server credentials: keep them in your backend, never ship them in a browser or game plugin.\n\nThe **member API** also requires `X-FullParty-Discord-User-Id`. Your trusted client must authenticate the Discord user before supplying this header. FullParty resolves an active connection, checks the account is verified and not banned, then applies the member's permissions. Never accept this identifier unverified from an end user. `members:read` and `members:write` are independent opt-in scopes; bot clients do not gain them automatically.\n\n## API paths\nAll integration endpoints are versioned under `/api/integrations/v1`. Bot operations use `/api/integrations/v1/bot` with the existing integration token and scopes; no linked-member header is required. Member operations use `/api/integrations/v1` and require the linked-member header and member scopes described above.\n\nTo migrate an existing bot, change its API base path from `/api/integrations` to `/api/integrations/v1/bot` and keep every endpoint suffix, method, body, and response parser unchanged. The unversioned endpoints have been removed, with no redirects or compatibility aliases. Coordinate the bot update with the website deployment. Website-to-bot webhooks are unchanged.\n\n## Supported actions\nAccount and profile preferences, Lodestone claims and verification, group membership and availability, run discovery, saved runs, applications, notifications, reports and published resources are available. Moderator workflows, roster changes, passwords, account deletion and login-provider connections remain website-only. The separate XIVPlugin OAuth API is not part of this trusted-client contract.\n\n## Requests and errors\nUse JSON except for image uploads (multipart/form-data). Discord snowflakes are **strings**. Timestamps use ISO 8601. Member requests accept `Accept-Language: en`, `de`, `fr` or `ja` (English by default).\n- 401: invalid or inactive integration credential.\n- 403: missing scope, banned account or forbidden action.\n- 404: record missing or inaccessible.\n- 422: validation failed; inspect `errors` for field messages.\n- 429: rate limited; respect `Retry-After`.\n\n## Limits and retries\nRequests are limited to 360/minute/source IP before authentication and 180/minute/authenticated client. Avatar uploads and profile image uploads are additionally limited to 5/minute and 30/day per linked member, shared across integration clients; profile changes without an uploaded image do not consume the upload limit. External lookups, membership writes, reports and application submissions also use normal per-user limits. Cache read results where appropriate and use exponential backoff for transient failures. Personal API responses use private, no-store caching headers.\n\nThere is no generic Idempotency-Key contract. Do not blindly retry mutations: verify the result first. Application submission returns an existing non-withdrawn application, and saving/following is idempotent.\n\n## Pagination\nMost member lists accept `page` (starting at 1) and `per_page` (1–100, default 25). Run discovery returns 10, notifications 50 and resources 50 per page. Bot endpoint limits are documented individually.\n\n## Webhook verification\nFullParty sends POST requests to your configured webhook URL. Webhook and healthcheck destinations require HTTPS outside local development and tests. Redirects are not followed: configure the final destination URL so signed payloads and credentials cannot be forwarded to another host. Verify the `sha256=` prefixed HMAC-SHA256 of `timestamp + '.' + rawRequestBody` using your webhook signing secret, compare in constant time, reject stale timestamps, and deduplicate delivery IDs. Headers are `X-FullParty-Event`, `X-FullParty-Delivery`, `X-FullParty-Timestamp`, and `X-FullParty-Signature`. API tokens and signing secrets are separate credentials.\n\nStarting-soon and starting-now capabilities both deliver **discord.guild.run_reminder**, distinguished by `reminder_type`. Guild disconnection uses the guild-settings capability. A separate signed GET healthcheck runs every 15 minutes; its signature uses an empty body (`timestamp + '.'`). Return JSON `status: \"healthy\"`, `\"degraded\"` or `\"unhealthy\"`."
  },
  "servers": [
    {
      "url": "https://api.fullparty.gg"
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Characters"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Runs"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Resources"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Bot connections"
    },
    {
      "name": "Bot data"
    },
    {
      "name": "Webhooks",
      "description": "Outbound signed events sent by FullParty to your integration."
    }
  ],
  "paths": {
    "/api/integrations/v1/me": {
      "get": {
        "operationId": "members.me",
        "tags": [
          "Account"
        ],
        "summary": "Get the linked member",
        "description": "Required scope: `members:read`.\n\nEmail addresses, credentials and administrative flags are not returned.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/me/name": {
      "patch": {
        "operationId": "members.me.name",
        "tags": [
          "Account"
        ],
        "summary": "Change display name",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "maxLength": 255
                  }
                },
                "required": [
                  "username"
                ]
              },
              "example": {
                "username": "Party Organizer"
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/avatar": {
      "post": {
        "operationId": "members.me.avatar",
        "tags": [
          "Account"
        ],
        "summary": "Upload profile picture",
        "description": "Required scope: `members:write`.\n\nLimited to 5 uploads/minute and 30/day per linked member, shared with profile image uploads and across integration clients.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "avatar_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "profile_picture": {
                    "type": "string",
                    "format": "binary",
                    "description": "JPEG, PNG or WebP; at most 5 MiB, 8192 pixels per side and 25,000,000 pixels total."
                  }
                },
                "required": [
                  "profile_picture"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/privacy": {
      "put": {
        "operationId": "members.me.privacy",
        "tags": [
          "Account"
        ],
        "summary": "Update profile privacy",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "public_profile": {
                      "type": "boolean"
                    },
                    "public_characters": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public_profile": {
                    "type": "boolean"
                  },
                  "public_characters": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "public_profile",
                  "public_characters"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/notification-preferences": {
      "put": {
        "operationId": "members.me.notifications",
        "tags": [
          "Account"
        ],
        "summary": "Update notification preferences",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "notifications": {
                      "$ref": "#/components/schemas/NotificationSettings"
                    }
                  },
                  "required": [
                    "success",
                    "notifications"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "application_notifications": {
                    "type": "boolean"
                  },
                  "run_and_reminder_notifications": {
                    "type": "boolean"
                  },
                  "group_update_notifications": {
                    "type": "boolean"
                  },
                  "assignment_notifications": {
                    "type": "boolean"
                  },
                  "account_character_notifications": {
                    "type": "boolean"
                  },
                  "system_notice_notifications": {
                    "type": "boolean"
                  },
                  "email_notifications": {
                    "type": "boolean"
                  },
                  "discord_notifications": {
                    "type": "boolean"
                  },
                  "notification_preferences": {
                    "$ref": "#/components/schemas/NotificationPreferences"
                  }
                },
                "required": [
                  "application_notifications",
                  "run_and_reminder_notifications",
                  "group_update_notifications",
                  "assignment_notifications",
                  "account_character_notifications",
                  "system_notice_notifications",
                  "email_notifications",
                  "discord_notifications"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/time-display": {
      "put": {
        "operationId": "members.me.time",
        "tags": [
          "Account"
        ],
        "summary": "Set time display preference",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "time_display_mode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time_display_mode": {
                    "type": "string",
                    "enum": [
                      "local",
                      "server"
                    ]
                  }
                },
                "required": [
                  "time_display_mode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/homepage": {
      "put": {
        "operationId": "members.me.homepage",
        "tags": [
          "Account"
        ],
        "summary": "Set homepage group",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "homepage_group_id": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "homepage_group_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "A group the member belongs to, or null for the default homepage."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/characters": {
      "get": {
        "operationId": "members.characters.index",
        "tags": [
          "Characters"
        ],
        "summary": "List owned characters",
        "description": "Required scope: `members:read`.\n\nIncludes pending claims. Verification proof is returned only by the claim endpoint.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Character"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/characters/{character}": {
      "get": {
        "operationId": "members.characters.show",
        "tags": [
          "Characters"
        ],
        "summary": "Get one owned character",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Character"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      },
      "delete": {
        "operationId": "members.characters.destroy",
        "tags": [
          "Characters"
        ],
        "summary": "Unclaim an owned character",
        "description": "Required scope: `members:write`.\n\nRemoves the account association and chooses a replacement primary where applicable; it does not delete the shared character record.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/characters/claim": {
      "post": {
        "operationId": "members.characters.claim",
        "tags": [
          "Characters"
        ],
        "summary": "Begin a Lodestone character claim",
        "description": "Required scope: `members:write`.\n\nAccepts a Lodestone ID or profile URL. Returns taken=true if already claimed; otherwise returns the proof to place in the character biography. Uses the same account quota and lookup limits as the website.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lodestone_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "lodestone_id"
                ]
              },
              "example": {
                "lodestone_id": "18130717"
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/characters/verify": {
      "post": {
        "operationId": "members.characters.verify",
        "tags": [
          "Characters"
        ],
        "summary": "Verify Lodestone ownership",
        "description": "Required scope: `members:write`.\n\nFetches Lodestone and verifies the server-issued proof in the biography. An arbitrary submitted token cannot establish ownership.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "character_verification": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean"
                        },
                        "taken": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "character_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "character_id",
                  "token"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/characters/{character}/refresh": {
      "post": {
        "operationId": "members.characters.refresh",
        "tags": [
          "Characters"
        ],
        "summary": "Refresh character data",
        "description": "Required scope: `members:write`.\n\nExplicit refresh of the owned character. partial=true means optional FF Logs data was unavailable. Lookup rate limits apply.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "partial": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/characters/{character}/primary": {
      "put": {
        "operationId": "members.characters.primary",
        "tags": [
          "Characters"
        ],
        "summary": "Choose primary character",
        "description": "Required scope: `members:write`.\n\nThe character must be owned and verified.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/characters/{character}/preferred-class": {
      "put": {
        "operationId": "members.characters.class",
        "tags": [
          "Characters"
        ],
        "summary": "Set a preferred class",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "character_class_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "is_preferred": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "character_class_id",
                  "is_preferred"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/characters/{character}/preferred-phantom-job": {
      "put": {
        "operationId": "members.characters.phantom",
        "tags": [
          "Characters"
        ],
        "summary": "Set a preferred phantom job",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "character",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phantom_job_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "is_preferred": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "phantom_job_id",
                  "is_preferred"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/groups": {
      "get": {
        "operationId": "members.groups.discover",
        "tags": [
          "Groups"
        ],
        "summary": "Discover groups",
        "description": "Required scope: `members:read`.\n\nUses the website discovery filters and pagination.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join_mode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "primary_focuses[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "experience_expectation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voice_expectation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "preferred_languages[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "active_days[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "extra_tags",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/me/groups": {
      "get": {
        "operationId": "members.groups.index",
        "tags": [
          "Groups"
        ],
        "summary": "List memberships",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/groups/{group}": {
      "get": {
        "operationId": "members.groups.show",
        "tags": [
          "Groups"
        ],
        "summary": "Get a visible group",
        "description": "Required scope: `members:read`.\n\nPrivate groups are accessible only to members. Group bans still apply.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/me/membership-requests": {
      "get": {
        "operationId": "members.membership-requests.index",
        "tags": [
          "Groups"
        ],
        "summary": "List personal membership requests",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembershipApplication"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/groups/{group}/membership-application": {
      "get": {
        "operationId": "members.membership-application.show",
        "tags": [
          "Groups"
        ],
        "summary": "Get membership application form",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipForm"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      },
      "post": {
        "operationId": "members.membership-application.store",
        "tags": [
          "Groups"
        ],
        "summary": "Submit membership application",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipApplication"
                    },
                    "already_member": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": {
                    "$ref": "#/components/schemas/Answers"
                  }
                },
                "required": [
                  "answers"
                ]
              }
            }
          }
        }
      },
      "put": {
        "operationId": "members.membership-application.update",
        "tags": [
          "Groups"
        ],
        "summary": "Edit pending membership application",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipApplication"
                    },
                    "already_member": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "answers": {
                    "$ref": "#/components/schemas/Answers"
                  }
                },
                "required": [
                  "answers"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/groups/{group}/join": {
      "post": {
        "operationId": "members.groups.join",
        "tags": [
          "Groups"
        ],
        "summary": "Join an open group",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "group_slug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/groups/{group}/leave": {
      "post": {
        "operationId": "members.groups.leave",
        "tags": [
          "Groups"
        ],
        "summary": "Leave a group",
        "description": "Required scope: `members:write`.\n\nOwners must transfer ownership on the website before leaving.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/invites/{token}/accept": {
      "post": {
        "operationId": "members.invites.accept",
        "tags": [
          "Groups"
        ],
        "summary": "Accept an invitation",
        "description": "Required scope: `members:write`.\n\nRequires a valid unexpired invite with remaining uses. Account quotas and group bans are enforced.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "group_slug": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/groups/{group}/notifications": {
      "get": {
        "operationId": "members.groups.notifications",
        "tags": [
          "Groups"
        ],
        "summary": "Get group notification preferences",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "notification_preferences": {
                          "$ref": "#/components/schemas/GroupNotificationPreferences"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      },
      "put": {
        "operationId": "members.groups.notifications.update",
        "tags": [
          "Groups"
        ],
        "summary": "Update group notification preferences",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "notification_preferences": {
                    "$ref": "#/components/schemas/GroupNotificationPreferences"
                  }
                },
                "required": [
                  "enabled"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/groups/{group}/availability": {
      "get": {
        "operationId": "members.groups.availability",
        "tags": [
          "Groups"
        ],
        "summary": "Get personal availability",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/Availability"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      },
      "put": {
        "operationId": "members.groups.availability.update",
        "tags": [
          "Groups"
        ],
        "summary": "Update personal availability",
        "description": "Required scope: `members:write`.\n\nThe group's scheduler must be enabled and the member must meet its minimum role. Overlapping windows are rejected.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Availability"
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/groups/{group}/run-list": {
      "put": {
        "operationId": "members.groups.follow",
        "tags": [
          "Groups"
        ],
        "summary": "Follow group in My Runs",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_in_my_runs": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      },
      "delete": {
        "operationId": "members.groups.unfollow",
        "tags": [
          "Groups"
        ],
        "summary": "Unfollow group in My Runs",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_in_my_runs": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/runs/lookups": {
      "get": {
        "operationId": "members.runs.lookups",
        "tags": [
          "Runs"
        ],
        "summary": "Get discovery filter options",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DiscoveryLookups"
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/runs": {
      "get": {
        "operationId": "members.runs.discover",
        "tags": [
          "Runs"
        ],
        "summary": "Discover upcoming runs",
        "description": "Required scope: `members:read`.\n\nRequires an IANA timezone such as Europe/London. Discovery returns 10 results per page.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "timezone",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prog_point",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datacenter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_of_day",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_style",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "application_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intensity",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "voice_expectation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class_keys[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "beginner_friendly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "saved_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RunDiscoveryItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/me/runs": {
      "get": {
        "operationId": "members.runs.index",
        "tags": [
          "Runs"
        ],
        "summary": "List personal runs",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "upcoming",
                "history",
                "saved"
              ],
              "default": "upcoming"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Run"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/groups/{group}/runs": {
      "get": {
        "operationId": "members.groups.runs",
        "tags": [
          "Runs"
        ],
        "summary": "List upcoming group runs",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Run"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/runs/{activity}": {
      "get": {
        "operationId": "members.runs.show",
        "tags": [
          "Runs"
        ],
        "summary": "Get run details",
        "description": "Required scope: `members:read`.\n\nDrafts are not exposed, including when the linked member is a group owner.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Run"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      }
    },
    "/api/integrations/v1/runs/{activity}/saved": {
      "put": {
        "operationId": "members.runs.save",
        "tags": [
          "Runs"
        ],
        "summary": "Save a run",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      },
      "delete": {
        "operationId": "members.runs.unsave",
        "tags": [
          "Runs"
        ],
        "summary": "Unsave a run",
        "description": "Required scope: `members:write`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write"
      }
    },
    "/api/integrations/v1/groups/{group}/runs/{activity}/application": {
      "get": {
        "operationId": "members.application.form",
        "tags": [
          "Applications"
        ],
        "summary": "Get run application form",
        "description": "Required scope: `members:read`.\n\nIncludes dynamic questions, allowed options, eligible characters, remembered defaults and the member's current application.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationForm"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:read"
      },
      "post": {
        "operationId": "members.application.store",
        "tags": [
          "Applications"
        ],
        "summary": "Submit run application",
        "description": "Required scope: `members:write`.\n\nUses the website's character ownership checks, quotas, notifications and queue updates. Returns the existing non-withdrawn application if already submitted.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApplicationEdit"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selected_character_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "answers": {
                    "$ref": "#/components/schemas/Answers"
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "remember_application_defaults": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "selected_character_id"
                ]
              },
              "example": {
                "selected_character_id": 123,
                "answers": {
                  "preferred_jobs": [
                    "19"
                  ]
                },
                "notes": "Available for the full run.",
                "remember_application_defaults": true
              }
            }
          }
        }
      },
      "put": {
        "operationId": "members.application.update",
        "tags": [
          "Applications"
        ],
        "summary": "Edit personal run application",
        "description": "Required scope: `members:write`.\n\nAllowed only while the application is editable. Changes can flag an existing placement for moderator review.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "group",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Group slug, not the numeric database ID."
          },
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ApplicationEdit"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "422": {
            "$ref": "#/components/responses/Error422"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          }
        },
        "x-required-scope": "members:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selected_character_id": {
                    "type": "integer",
                    "minimum": 1
                  },
                  "answers": {
                    "$ref": "#/components/schemas/Answers"
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 5000
                  },
                  "remember_application_defaults": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "selected_character_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/integrations/v1/me/applications": {
      "get": {
        "operationId": "members.applications.index",
        "tags": [
          "Applications"
        ],
        "summary": "List personal applications",
        "description": "Required scope: `members:read`.",
        "security": [
          {
            "IntegrationToken": [],
            "LinkedDiscordUser": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Locale"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "on_bench",
                "declined",
                "withdrawn",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Application"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PageMeta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
[...]
